// Imports
@use "../helpers/variables" as var;
@use "../helpers/mixin" as *;

// Stats Stylesheet
.stats {
    .container {
        .box {
            &:first-of-type {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
            &:last-of-type {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            span {
                color: var.$main-color;
            }
        }
    }
}